
body {
    background: white !important;
}

.gallery-wrap .img-big-wrap {
    margin-bottom: 10px;
    border-radius: 0.37rem;
    overflow: hidden;
    background-color: #fff;
}

    .gallery-wrap .img-big-wrap img {
        height: auto;
        width: 100%;
        display: inline-block;
        cursor: -webkit-zoom-in;
        cursor: zoom-in;
    }

.gallery-wrap .thumbs-wrap {
    text-align: center;
    margin-bottom: 20px;
}

.gallery-wrap .thumbs-wrap {
    text-align: center;
    margin-bottom: 20px;
}

article:after, .form-group:after {
    display: block;
    clear: both;
    content: "";
}

.fake-input img {
    position: absolute;
    top: 25px;
    left: 4px;
}

.fake-input .form-control {
    padding-left: 65px;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.9rem + 2px);
    padding: 0.45rem 0.85rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.37rem;
    -webkit-transition: border-color 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out;
}

.fake-input span.code {
    position: absolute;
    top: 25px;
    left: 29px;
    font-size: 14px;
    color: #555;
    font-weight: bold;
}

.label-rating {
    margin-left: 7px;
    display: inline-block;
    vertical-align: middle;
}

.price {
    font-weight: 600;
    color: #212529;
}

.form-group {
    margin-bottom: 1rem;
}

.price-old {
    color: #969696;
    margin-left: 5px;
}

.fake-input {
    position: relative;
}
