.fancybox-gallery-slider .owl-next, .fancybox-gallery-slider .owl-prev, .pagination > li > a, .photostack nav span::after, .team-icon a, .text-thm2, .twitter.style2 ul li a, .ulockd-title-icon, .upcoming-wedding-event .clock.flip-clock-wrapper ul li a div div.inn, nav.navbar.bootsnav ul.nav li a.active, nav.navbar.bootsnav ul.nav li a:focus, nav.navbar.bootsnav ul.nav li a:hover, nav.navbar.bootsnav.menu-style1 ul.dropdown-menu.megamenu-content .title {
	color: #989898 !important
}

.about-box:hover .ab-details h3, .fservice-box:hover h3, .fstory:hover .media-heading, .service-col:hover .srvc-details h3, .ulockd-bp-btn:hover, .ulockd-bp-details.style2:hover .ulockd-bp-title h3, .ulockd-media-box .media:hover .media-heading, .ulockd-shop-item:hover h3, .ulockd-sitemap > li a:hover {
	color: #989898 !important
}

nav.navbar.bootsnav.light-red li.dropdown ul.dropdown-menu > li > a:hover, nav.navbar.bootsnav.light-red ul.nav > li > a.active, nav.navbar.bootsnav.light-red ul.nav > li > a:hover {
	color: #989898
}

#graph-wrapper > button, .about-icon, .about-icon2, .amount-box input[type=radio]:checked + label, .attr-nav > ul > li > a span.badge, .contact-details .contact-place > li, .couple-img:after, .couple-img:before, .icon-font-thm a, .navbar-sticky.navbar-scrollspy.ulockd-menu-style-two, .pagination > .active > a, .price-tag, .srvc-icon, .ulockd-all-service a.active, .ulockd-bgthm, .ulockd-copy-right, .ulockd-faq-content .panel-default > .panel-heading, .ulockd-ffact-two .ulockd-icon-let, .ulockd-home-two, .ulockd-l2-copy-right, .ulockd-product-details a.btn.hvr-bounce-to-right:before, .ulocked-pricing-tag, nav.navbar.bootsnav.ulockd-menu-style-two #navbar-menu, nav.navbar.bootsnav.ulockd-menu-style-two li.dropdown ul.dropdown-menu {
	background-color: #989898 !important
}

.ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-all, .ui-timepicker-list .ui-timepicker-selected:hover, .ui-timepicker-list li:hover, li.ui-timepicker-selected {
	background-color: #989898
}

.fancybox-gallery-slider .owl-next:hover, .fancybox-gallery-slider .owl-prev:hover, .feature-box:hover .overlay .icon:before, .features-tab > li.active > a, .features-tab > li.active > a:before, .features-tab > li.active > a:focus, .features-tab > li.active > a:hover, .ficon-box:hover .ficon, .footer-font-icon a:hover, .form-group.ulockd-contact-btn:hover button, .icon_box:hover .icon i, .mt-separator:after, .nav.features-tab > li > a:focus, .nav.features-tab > li > a:hover, .social-linked a:hover, .social-linked-two a:hover, .team-icon a:hover, .title-bottom:before, .ulockd-tag-list-details a:hover, .ulockd-tag-list-details li:hover a {
	background-color: #989898
}

.blog-post-img-slider .owl-next:hover, .blog-post-img-slider .owl-prev:hover, .main-slider2 .owl-next:hover, .main-slider2 .owl-prev:hover, .ulockd-bpost-slider .owl-controls .owl-next:hover, .ulockd-bpost-slider .owl-controls .owl-prev:hover {
	background-color: #989898
}

.masonry-filter a.active, .masonry-filter a:active, .masonry-filter a:focus, .masonry-filter a:hover {
	background-color: #989898
}

.ulockd-ap-service-two::before, .ulockd-coming-soon::before, .ulockd-uconctruction::before {
	background-color: rgba(230 163 181 / 0.98)
}

.overlay-tc95:before {
	background-color: rgba(230 163 181 / 0.95)
}

.feature-box .overlay, .gallery-thumb .layer, .gallery-thumb-l2 .layer, .image-box .cb-overlay, .overlay-tc9:before, .shop-box .overlay, .testimonial-grid .video-btn a, .ulockd-frst-divider::before {
	background-color: rgb(230 163 181 / 0.9);
}

.overlay-tc85:before {
	background-color: rgba(230 163 181 / 0.85)
}

.overlay-tc8:before {
	background-color: rgba(230 163 181 / 0.8)
}

.gallery-thumb .overlayer, .overlay-tc75:before {
	background-color: rgba(230 163 181 / 0.75)
}

.flickr-widget li .thumb .overlay, .overlay-tc7:before {
	background-color: rgba(230 163 181 / 0.7)
}

.overlay-tc65:before {
	background-color: rgba(230 163 181 / 0.65)
}

.gallery-overlay, .overlay-tc6:before, .team-overlay {
	background-color: rgba(230 163 181 / 0.6)
}

.overlay-tc55:before {
	background-color: rgba(230 163 181 / 0.55)
}

.overlay-tc5:before {
	background-color: rgba(230 163 181 / 0.5)
}

.ulockd-btn-thm2 {
	background-color: #989898;
	border-color: #989898
}

.ulockd-btn-styledark:active, .ulockd-btn-styledark:focus, .ulockd-btn-styledark:hover {
	background-color: #989898
}

.ulockd-btn-yellow:active, .ulockd-btn-yellow:focus, .ulockd-btn-yellow:hover {
	background-color: #989898
}

.ulockd-btn-white:active, .ulockd-btn-white:focus, .ulockd-btn-white:hover {
	background-color: #989898 !important;
	border-color: #989898 !important
}

.ulockd-btn-gray:active, .ulockd-btn-gray:focus, .ulockd-btn-gray:hover {
	background-color: #989898 !important;
	border-color: #989898 !important
}

.ulockd-btn-transparent:active, .ulockd-btn-transparent:focus, .ulockd-btn-transparent:hover {
	background-color: #989898 !important;
	border-color: #989898 !important
}

.icon_box .icon i, .ulockd-bdr-thm {
	border: 1px solid #989898
}

nav.navbar li.dropdown ul.dropdown-menu {
	border-top: 5px solid #989898
}

.ulockd-bb-solid-thm, nav.navbar.bootsnav li.dropdown ul.dropdown-menu > li > a {
	border-bottom: 1px solid #989898
}

.ulockd-bt-solid-thm {
	border-top: 1px solid #989898
}

#custom_carousel .controls li.active, nav.navbar.bootsnav li.dropdown ul.dropdown-menu {
	border-top: 3px solid #989898
}

.ulockd-bb-dotted {
	border-bottom: 1px dotted #989898
}

.mt-separator, .ulockd-bb2-dashed {
	border-bottom: 2px dashed #989898
}

.mt-separator, .ulockd-bb2-dashed {
	border-bottom: 2px dashed #989898
}

.ulockd-bb-dashed {
	border-bottom: 1px dashed #989898
}

.ulockd-bb2-dashed {
	border: 2px dashed #989898
}

.amount-box input[type=radio]:checked + label, .features-tab > li.active > a, .features-tab > li.active > a:focus, .features-tab > li.active > a:hover, .pagination > .active > a, .ulockd-all-service a.active {
	border-color: #989898
}

.icon_box:hover .icon i, .team-details .team-icon a, .team-icon a:hover {
	border: 1px solid #989898
}

.divider-box-tringle::before {
	border-top: 255px solid #989898
}

.divider-box-tringle::after {
	border-bottom: 255px solid #989898
}
